// ignore node modules
node_modules/
// ignore environment variable files
.env

# --- Python cache ---
__pycache__/
*.py[cod]
*.pyo

# ignore Django migration files
**/migrations/
# ignore SQLite database files
db.sqlite3

# --- Virtual Environment (venv, .venv, env, etc.) ---
venv/
.env/
.venv/
env/
ENV/



